<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warr.ferr.mapper.NotificationMapper">

    <!-- 결과 매핑 정의 -->
    <resultMap id="notificationResultMap" type="com.warr.ferr.model.Notification">
        <id property="notificationId" column="notification_id" />
        <result property="eventId" column="event_id" />
        <result property="userId" column="user_id" />
        <result property="content" column="content" />
        <result property="notificationTime" column="notification_time" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <!-- 알림 생성 -->
    <insert id="createNotification" useGeneratedKeys="true" keyProperty="notificationId">
        INSERT INTO schedule_notifications (event_id, user_id, content, notification_time)
        VALUES (#{eventId}, #{userId}, #{content}, #{notificationTime})
    </insert>

    <!-- 알림 삭제 -->
    <delete id="deleteNotificationById">
        DELETE FROM schedule_notifications WHERE notification_id = #{notificationId}
    </delete>

    <!-- 특정 이벤트에 대한 모든 알림 조회 -->
    <select id="findAllNotificationsByEventId" resultMap="notificationResultMap">
        SELECT * FROM schedule_notifications WHERE event_id = #{eventId}
    </select>
    
    <select id="findAllNotificationsByUserId" resultMap="notificationResultMap">
        SELECT * FROM schedule_notifications WHERE user_id = #{eventId}
    </select>

    <!-- 알림 업데이트 -->
    <update id="updateNotificationById">
        UPDATE schedule_notifications
        SET content = #{content},
            notification_time = #{notificationTime}
        WHERE notification_id = #{notificationId}
    </update>

</mapper>
