<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warr.ferr.mapper.UserMapper">
	<insert id="kakaoUsers" parameterType="com.warr.ferr.model.Users">
		INSERT INTO users
			(
			email,
			nickname,
			real_name
			)
			VALUES
			(
			#{email},
			#{email},
			#{nickname});
	</insert>
</mapper>