.box-container {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 50px;
    margin-right: 50px;
}

.loading-indicator {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(0,0,0,.1);
    border-radius: 50%;
    border-top-color: #007bff;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.image-item {
	position: relative;
	display: inline-block;
	width: 300px;
	height: 200px;
	background-color: #ddd;
	margin-right: 30px;
	text-align: center;
	vertical-align: top;
	overflow: hidden;
	transition: transform 0.3s ease;
	background-size: cover; /* 이미지가 컨테이너를 가득 채우도록 */
	background-position: center; /* 이미지가 항상 중앙에 위치하도록 */
	background-image: url('img/loading_ferr.png'); /* 초기 배경 이미지 설정 */
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	transition: transform 0.3s ease;
}

.image-item:hover {
	transform: translateY(-3px); /* 호버 시 약간 위로 이동 */
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.image-item img {
    width: 100%; /* 이미지 너비를 컨테이너에 맞춤 */
    height: 100%; /* 이미지 높이를 컨테이너에 맞춤 */
    object-fit: cover; /* 컨테이너 비율을 유지하면서 이미지를 가득 채움 */
}

.image-text {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 5px 0;
}

.rank-number {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 165, 0, 0.85);
	color: white;
	padding: 5px 10px;
	font-weight: bold;
}

.position-relative:hover .slider-btn {
	opacity: 1;
}

.slider-btn {
	display: inline-block;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	font-size: 24px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.title-container {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 35px;
	padding: 10px;
}

.scroll-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background-color: #007bff; /* 인디케이터 색상 */
    width: 0%; /* 초기 너비 */
}